html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	width: 85%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: 1em;
	line-height: 1.25em;
}

/*The widths are in a percentage!*/
header {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

header h1 {
	margin: 0;
	padding: 1em 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	border-top: 3px solid #77a466;
	padding: 1.5em 0;
	width: 100%;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	text-align: center;
	padding: .5em;
	list-style: none;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title h3 {
	text-align: left;
	padding: .5em 0;
	color: #77a466;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	padding: 1em 0;
	border-top: 1px solid #eee;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.5em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 1em;
}

/* ---------- TABLET 768px ---------- */

@media all and (min-width: 768px) {

	.bottom-section {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.section-one,
	.section-two,
	.section-three {
		flex-basis: 30%;
	}

	.section-two {
		padding: 20px 0;
	}
}

/* ---------- DESKTOP 1200px ---------- */

@media all and (min-width: 1200px) {

	.container {
		max-width: 1200px;
	}

	header {
		text-align: left;
		display: flex;
		justify-content: space-between;
		border-bottom: 3px solid #77a466;
	}

	header h1, header nav {
		width: 50%;
	}

	header nav {
		text-align: right;
		border: none;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
  	}

}
